<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/battle-pokemon.css">
    <link rel="icon" type="image/x-icon" href="img/favIcon.png">
    <title>Batalla Pokemon</title>
</head>

<body>
    <div class="layout">
        <nav class="navbar__container">
            <div class="navbar__container-logo">
                <img class="navbar__img" src="img/logoPokemon.png" alt="logo pokemon">
            </div>
            <ul class="navbar__container-links">
                <li class="navbar__item">
                    <i class='bx bx-exit'></i><a class="navbar_link" href="login">Salir</a>
                </li>
                <li class="navbar__item">
                    <i class='bx bx-plus-medical navbar_link-icon'></i><a class="navbar_link" href="list-teams">Listado
                        de equipos</a>
                </li>
                <li class="navbar__item">
                    <i class='bx bxs-group navbar_link-icon'></i><a class="navbar_link" href="search-friends">Amigos</a>
                </li>
                <li class="navbar__item">
                    <i class='bx bxs-cog navbar_link-icon'></i><a class="navbar_link" href="settings">Ajustes</a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="battle__input">
        <div class="container__trainer-1">
            <p class="trainer1__info">
                <%= nameUser %>
            </p>
            <div class="trainer1-img__container">
                <% if (imagePathUser) { %>
                    <img class="trainer-1__img" src="<%= imagePathUser %>" alt="<%= nameUser %>" id="userImg">
                    <% } else { %>
                        <p>No profile image available.</p>
                        <% } %>
            </div>
            <div class="container__pokeballs">
                <img src="img/pokeball.png" alt="Pokeball">
                <img src="img/pokeball.png" alt="Pokeball">
                <img src="img/pokeball.png" alt="Pokeball">
                <img src="img/pokeball.png" alt="Pokeball">
                <img src="img/pokeball.png" alt="Pokeball">
                <img src="img/pokeball.png" alt="Pokeball">
            </div>
        </div>
        <div class="background__battle">
            <main>
                <form>
                    <div class="fila">
                        <div class="fila">
                            <input type="text" placeholder="Nombre Equipo 1" name="teamOneName" id="teamOneName">
                            <button class="select__button" type="button"
                                onclick="fetchTeamData('teamOneName', 'pokemon1')">
                                Cargar Equipo
                            </button>
                            <label for="pokemon1">Equipos jugador 1:</label>
                            <select id="pokemon1">
                                <% if (userTeams.length> 0) { %>
                                    <% userTeams.forEach(team=> { %>
                                        <option value="<%= team._id %>">
                                            <%= team.teamName %>
                                        </option>
                                        <% }) %>
                                            <% } else { %>
                                                <option disabled>No teams available</option>
                                                <% } %>
                            </select>
                        </div>
                        <div class="fila">
                            <input type="text" placeholder="Nombre Equipo 2" name="teamTwoName" id="teamTwoName">
                            <button class="select__button" type="button"
                                onclick="fetchTeamData('teamTwoName', 'pokemon2', '<%= nameFriend %>')">
                                Cargar Equipo
                            </button>
                            <label for="pokemon2">Equipos jugador 2:</label>
                            <select id="pokemon2">
                                <% if (opponentTeams.length> 0) { %>
                                    <% opponentTeams.forEach(team=> { %>
                                        <option value="<%= team._id %>">
                                            <%= team.teamName %>
                                        </option>
                                        <% }) %>
                                            <% } else { %>
                                                <option disabled>No teams available</option>
                                                <% } %>
                            </select>
                        </div>
                    </div>
                    <button class="start__button" type="button" onclick="startBattle()">Iniciar Batalla</button>
                </form>
                <div class="battle__container">
                    <div>
                        <img class="imagen-pokemon1" id="imagen-pokemon1" />
                        <div id="ataques-1"></div>
                    </div>
                    <div>
                        <img class="imagen-pokemon2" id="imagen-pokemon2" />
                        <div id="ataques-2"></div>
                    </div>
                </div>
                <div class="info1">
                    <p id="nombre-pokemon1"></p>
                    <progress id="vida-pokemon1"></progress>
                    <label for="vida-pokemon1" id="label-hp1"></label>
                </div>
                <div class="info2">
                    <p id="nombre-pokemon2"></p>
                    <progress id="vida-pokemon2"></progress>
                    <label for="vida-pokemon2" id="label-hp2"></label>
                </div>
            </main>
        </div>
        <div class="container__trainer-2">
            <p class="trainer2__info">
                <%= nameFriend %>
            </p>
            <div class="trainer2-img__container">
                <% if (imagePathFriend) { %>
                    <img class="trainer-2__img" src="<%= imagePathFriend %>" alt="<%= nameFriend %>" id="friendImg">
                    <% } else { %>
                        <p>No profile image available.</p>
                        <% } %>
            </div>
            <div class="container__pokeballs">
                <img src="img/pokeball.png" alt="Pokeball">
                <img src="img/pokeball.png" alt="Pokeball">
                <img src="img/pokeball.png" alt="Pokeball">
                <img src="img/pokeball.png" alt="Pokeball">
                <img src="img/pokeball.png" alt="Pokeball">
                <img src="img/pokeball.png" alt="Pokeball">
            </div>
        </div>
    </div>


    <script>
        let pokemon1, pokemon2;
        let pokemon1Health, pokemon2Health;
        let team1Wins = 0;
        let team2Wins = 0;
        let gameEnded = false;
        let isTeam1Turn = true; // To track whose turn it is
        const MAX_HEALTH = 100;
        const eliminatedPokemon = { team1: [], team2: [] };
        const initialPokemonCount = 6; // Assuming each team starts with 6 Pokémon

        function capitalizar(string) {
            return string.charAt(0).toUpperCase() + string.slice(1);
        }

        async function fetchTeamData(teamInputId, selectId, userName = '') {
            const teamName = document.getElementById(teamInputId).value;
            const url = userName ? `/team/${teamName}/${userName}` : `/team/${teamName}`;

            try {
                const response = await fetch(url);

                if (response.status === 404 || response.status === 403) {
                    console.error('Equipo no encontrado o no tiene acceso a este equipo');
                    alert('Equipo no encontrado o no tiene acceso a este equipo');
                    return;
                }

                const team = await response.json();

                if (!response.ok) {
                    console.error('Error fetching team data');
                    return;
                }

                populateSelectOptions(selectId, team);
            } catch (error) {
                console.error('Error fetching team data:', error);
            }
        }

        function populateSelectOptions(selectId, team) {
            const select = document.getElementById(selectId);
            const pokemonNames = [
                team.pokemonOne,
                team.pokemonTwo,
                team.pokemonThree,
                team.pokemonFour,
                team.pokemonFive,
                team.pokemonSix
            ];

            select.innerHTML = pokemonNames.map(pokemon =>
                `<option value='https://pokeapi.co/api/v2/pokemon/${pokemon.toLowerCase()}'>${capitalizar(pokemon)}</option>`
            ).join('');
        }

        async function fetchPokemon(url) {
            try {
                const response = await fetch(url);
                const data = await response.json();
                return data;
            } catch (error) {
                console.error(error);
            }
        }

        function saveHealthToLocalStorage() {
            localStorage.setItem('pokemon1Health', pokemon1Health);
            localStorage.setItem('pokemon2Health', pokemon2Health);
        }

        function loadHealthFromLocalStorage() {
            pokemon1Health = localStorage.getItem('pokemon1Health') ? parseInt(localStorage.getItem('pokemon1Health')) : pokemon1Health;
            pokemon2Health = localStorage.getItem('pokemon2Health') ? parseInt(localStorage.getItem('pokemon2Health')) : pokemon2Health;
        }

        async function startBattle() {
            if (gameEnded) {
                alert("El juego ha terminado. Comience una partida nueva.");
                return;
            }

            const select1 = document.getElementById("pokemon1");
            const select2 = document.getElementById("pokemon2");

            if (select1.options[select1.selectedIndex].disabled || select2.options[select2.selectedIndex].disabled) {
                alert('Por favor seleccione un pokemon correcto');
                return;
            }

            const pokemonSeleccionado1 = select1.options[select1.selectedIndex].value;
            const pokemonSeleccionado2 = select2.options[select2.selectedIndex].value;

            pokemon1 = await fetchPokemon(pokemonSeleccionado1);
            pokemon2 = await fetchPokemon(pokemonSeleccionado2);

            document.getElementById("imagen-pokemon1").src = pokemon1.sprites.back_default;
            document.getElementById("imagen-pokemon2").src = pokemon2.sprites.front_default;

            document.getElementById("nombre-pokemon1").innerText = pokemon1.name;
            document.getElementById("nombre-pokemon2").innerText = pokemon2.name;

            loadHealthFromLocalStorage();

            if (!pokemon1Health) {
                pokemon1Health = pokemon1.stats.find(stat => stat.stat.name === 'hp').base_stat;
            }
            if (!pokemon2Health) {
                pokemon2Health = pokemon2.stats.find(stat => stat.stat.name === 'hp').base_stat;
            }

            const vidaPokemon1 = document.getElementById("vida-pokemon1");
            const vidaPokemon2 = document.getElementById("vida-pokemon2");

            vidaPokemon1.max = pokemon1Health;
            vidaPokemon2.max = pokemon2Health;

            vidaPokemon1.value = pokemon1Health;
            vidaPokemon2.value = pokemon2Health;

            document.getElementById("label-hp1").innerText = `${vidaPokemon1.value}/${vidaPokemon1.max}`;
            document.getElementById("label-hp2").innerText = `${vidaPokemon2.value}/${vidaPokemon2.max}`;

            await setAttacks(pokemon1, 'ataques-1');
            await setAttacks(pokemon2, 'ataques-2');

            document.getElementById("team1-input").disabled = true;
            document.getElementById("team2-input").disabled = true;
        }

        async function setAttacks(pokemonData, attackContainerId) {
            const container = document.getElementById(attackContainerId);
            const attacks = pokemonData.moves.slice(0, 4);

            container.innerHTML = attacks.map(move => {
                return `<button onclick="useAttack('${move.move.name}', '${attackContainerId}')">${capitalizar(move.move.name)}</button>`;
            }).join('');
        }

        async function useAttack(attackName, attackContainerId) {
            if (gameEnded) {
                alert("El juego ha terminado. Comience una partida nueva.");
                return;
            }

            if ((attackContainerId === 'ataques-1' && !isTeam1Turn) ||
                (attackContainerId === 'ataques-2' && isTeam1Turn)) {
                alert("No es tu turno.");
                return;
            }

            console.log(`${attackName} used from ${attackContainerId}`);

            let damage = 10; // Placeholder damage

            if (attackContainerId === 'ataques-1') {
                if (eliminatedPokemon.team2.includes(pokemon2.name)) {
                    alert(`Pokémon ${pokemon2.name} ha sido eliminado. Por favor elija otro Pokémon.`);
                    return;
                }

                pokemon2Health -= damage;
                if (pokemon2Health < 0) pokemon2Health = 0;

                document.getElementById("vida-pokemon2").value = pokemon2Health;
                document.getElementById("label-hp2").innerText = `${pokemon2Health}/${document.getElementById("vida-pokemon2").max}`;

                if (pokemon2Health === 0) {
                    team1Wins++;
                    eliminatedPokemon.team2.push(pokemon2.name);
                    disablePokemon(2, pokemon2.name);
                }
            } else {
                if (eliminatedPokemon.team1.includes(pokemon1.name)) {
                    alert(`Pokémon ${pokemon1.name} ha sido eliminado. Por favor elija otro Pokémon.`);
                    return;
                }

                pokemon1Health -= damage;
                if (pokemon1Health < 0) pokemon1Health = 0;

                document.getElementById("vida-pokemon1").value = pokemon1Health;
                document.getElementById("label-hp1").innerText = `${pokemon1Health}/${document.getElementById("vida-pokemon1").max}`;

                if (pokemon1Health === 0) {
                    team2Wins++;
                    eliminatedPokemon.team1.push(pokemon1.name);
                    disablePokemon(1, pokemon1.name);
                }
            }

            saveHealthToLocalStorage();
            isTeam1Turn = !isTeam1Turn; // Toggle turn
            checkForWinner();
        }

        function disablePokemon(pokemonNumber, pokemonName) {
            const attackContainerId = pokemonNumber === 1 ? 'ataques-1' : 'ataques-2';
            const selectId = pokemonNumber === 1 ? 'pokemon1' : 'pokemon2';

            document.getElementById(attackContainerId).innerHTML = '';

            const select = document.getElementById(selectId);
            for (let i = 0; i < select.options.length; i++) {
                if (select.options[i].text.toLowerCase() === pokemonName) {
                    select.options[i].disabled = true;
                    break;
                }
            }

            alert(`Pokémon ${pokemonName} ha sido eliminado. Por favor elija otro Pokémon.`);
        }

        function checkForWinner() {
            const remainingPokemonTeam1 = initialPokemonCount - eliminatedPokemon.team1.length;
            const remainingPokemonTeam2 = initialPokemonCount - eliminatedPokemon.team2.length;

            if (remainingPokemonTeam1 === 0) {
                alert("Equipo del amigo ha ganado!");
                gameEnded = true;
                setTimeout(() => {
                    window.location.href = '/user-profile';
                }, 2000);
            } else if (remainingPokemonTeam2 === 0) {
                alert("Equipo del usuario ha ganado!");
                gameEnded = true;
                setTimeout(() => {
                    window.location.href = '/user-profile';
                }, 2000);
            }

            if (gameEnded) {
                document.getElementById("start-button").disabled = true;
            }
        }

        function resetGame() {
            team1Wins = 0;
            team2Wins = 0;
            gameEnded = false;
            eliminatedPokemon.team1 = [];
            eliminatedPokemon.team2 = [];

            document.getElementById("team1-input").disabled = false;
            document.getElementById("team2-input").disabled = false;

            document.getElementById("pokemon1").innerHTML = '';
            document.getElementById("pokemon2").innerHTML = '';

            document.getElementById('ataques-1').innerHTML = '';
            document.getElementById('ataques-2').innerHTML = '';

            document.getElementById("imagen-pokemon1").src = '';
            document.getElementById("imagen-pokemon2").src = '';

            document.getElementById("vida-pokemon1").value = 0;
            document.getElementById("vida-pokemon2").value = 0;
            document.getElementById("label-hp1").innerText = '';
            document.getElementById("label-hp2").innerText = '';

            document.getElementById("start-button").disabled = false;

            // Clear local storage
            localStorage.removeItem('pokemon1Health');
            localStorage.removeItem('pokemon2Health');
        }
    </script>

</body>

</html>