<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/friends-profile.css">
    <link rel="icon" type="image/x-icon" href="/img/favIcon.png">



    <title>Amigos</title>
</head>

<body>
    <div class="layout">
        <nav class="navbar__container">

            <div class="navbar__container-logo">
                <img class="navbar__img" src="/img/logoPokemon.png" alt="logo pokemon">
            </div>

            <ul class="navbar__container-links">
                <li class="navbar__item ">
                    <a class="navbar__link " href="/search-friends">Página de amigos<i
                            class='bx bx-right-arrow-alt'></i></a>
                </li>
            </ul>
        </nav>

    </div>

    <!--Padre de todo-->
    <main class="main__container">
        <div class="left__options__box">
            <div class="pokemon__box-outer">

            </div>
            <!--Pokemones mas usados-->
            <div class="pokemon__box-outer">
                <div class="pokemon__box" id="pokemon__box-id">
                    <div class="pokemon__tittle__box">
                        <h1 class="Pokemon__tittle">Pokemons más usados</h1>
                    </div>
                    <% teamsWithPokemons2.forEach(teamWithPokemons=> { %>
                        <div class="team">
                            <% teamWithPokemons.pokemons.forEach((pokemon, index)=> { %>
                                <% if (pokemon) { %>
                                    <% const battle=teamWithPokemons.battleData.find(b=> b.pokemonName ===
                                        pokemon.name); %>
                                        <% if (battle && battle.roundsUsed> 0) { %>
                                            <div class="pokemon">
                                                <div class="pokemon__slot">

                                                    <div class="slot__img__box">
                                                        <img class="slot__img"
                                                            src="<%= pokemon ? pokemon.sprite : 'img/default.png' %>"
                                                            alt="">
                                                        <h1 class="pokemon__slot__name">
                                                            <%= pokemon.name %>
                                                        </h1>
                                                    </div>
                                                    <div class="pokemon__stats">
                                                        <div class="pokemon__stats__defeat">
                                                            <p class="stats__text">Derrotado por: <%= battle.defeatedBy
                                                                    ? battle.defeatedBy.join(', ') : ' Ninguno' %>
                                                            </p>
                                                        </div>
                                                        <div class="pokemon__stats__win">
                                                            <p class="stats__text">Vencido a: <br>
                                                                <%= battle.defeatedPokemon ?
                                                                    battle.defeatedPokemon.join(', ') : ' Ninguno' %>
                                                            </p>
                                                        </div>
                                                        <div class="pokemon__stats__times">
                                                            <p class="stats__text">Veces usado:</p>
                                                            <p class="times__used">
                                                                <%= battle.roundsUsed %>
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                            <% } %>
                                                <%}%>

                                                    <% }) %>
                        </div>
                        <% }) %>
                </div>
            </div>



            <!--Equipos mas usados-->
            <div class="team__box-outer">
                <div class="team__box" id="team__box-id">
                    <div class="team__tittle__box">
                        <h1 class="team__tittle">Equipos más usados</h1>
                    </div>
                    <% if (teamsWithPokemons2 && teamsWithPokemons2.length> 0) { %>
                        <% teamsWithPokemons2.forEach(({ team, pokemons })=> { %>
                            <div class="team__display">

                                <!-- Desestructuración de objetos -->
                                <div class="team__name__box">
                                    <h1 class="team__name">
                                        <%= team.teamName %>
                                            <!-- Acceso directo a teamName gracias a la desestructuración -->
                                    </h1>
                                </div>

                                <div class="team__slots__box">
                                    <% pokemons.forEach((pokemon, index)=> { %>
                                        <!-- Iteración sobre los Pokémon del equipo -->
                                        <div class="team__slot">
                                            <p class="slot__name">
                                                <%= pokemon ? pokemon.name : "Desconocido" %>
                                            </p>
                                            <img class="slot__img"
                                                src="<%= pokemon ? pokemon.sprite : 'img/default.png' %>"
                                                alt="<%= pokemon ? pokemon.name : 'Desconocido' %>">
                                        </div>
                                        <% }); %>
                                </div>

                            </div>
                            <% }); %>
                                <% } else { %>
                                    <p>No se encontraron equipos.</p>
                                    <% } %>
                </div>
            </div>
        </div>
        <!--Equipos mas usados-->

        </div>


        <div class="profile__box">

            <div class="profile__img__box">
                <% if (imagePath) { %>
                    <img class="profile__img" src="<%= imagePath %>" alt="<%= nameUser %>" id="friend__image-id">
                    <% } else { %>
                        <p>No profile image available.</p>
                        <% } %>
            </div>
            <div class="profile_username_box">
                <h1 class="profile_username">
                    <%=nameUser%>
                </h1> <!--Nombre ingresado por el usuario-->
            </div>

            <div class="profile__stats">
                <div class="profile__stats__battle">
                    <div class="stats__tittle__box">
                        <h1 class="stats__tittle">Promedio</h1>
                    </div>
                    <div class="stats__wins">
                        <!--stats__wins__porcent y stats__defeats__porcent vienen de la API-->
                        <p class="stats_text">Victorias:</p>
                        <p class="stats__wins__porcent">0%</p>
                    </div>
                    <div class="stats__defeats">
                        <p class="stats_text">Derrotas:</p>
                        <p class="stats__defeats__porcent">100%</p>
                    </div>
                </div>
                <div class="profile__stats__time">
                    <div class="stats__time__box">
                        <form action="" method="post">
                            <select class="time__button" name="time" id="time">
                                <option value="week">Última semana</option>
                                <option value="month">Último mes</option>
                                <option value="six_month">Últimos seis meses</option>
                                <option value="year">Último año</option>
                            </select>
                        </form>
                    </div>
                </div>
            </div>


        </div>
        </div>
    </main>
    <script src="js/friends-profile.js"></script>
</body>

</html>