<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/user-profile.css">
    <link rel="icon" type="image/x-icon" href="img/favIcon.png">

    <title>Perfil de usuario</title>
</head>

<body>
    <div class="layout">
        <nav class="navbar__container">

            <div class="navbar__container-logo">
                <img class="navbar__img" src="img/logoPokemon.png" alt="logo pokemon">
            </div>

            <ul class="navbar__container-links">
                <li class="navbar__item current">
                    <i class='bx bx-male navbar__link-icon'></i><a class="navbar__link " href="user-profile">Perfil</a>
                </li>
                <li class="navbar__item ">
                    <i class='bx bx-plus-medical navbar__link-icon'></i><a class="navbar__link "
                        href="create-teams">Creación de
                        equipos</a>
                </li>
                <li class="navbar__item ">
                    <i class='bx bxs-group navbar__link-icon'></i><a class="navbar__link "
                        href="search-friends">Amigos</a>
                </li>

            </ul>
        </nav>
    </div>
    <!--Padre de todo-->
    <main class="main__container">

        <div class="left__options__box">
            <!--Pokemones mas usados-->
            <div class="pokemon__box-outer">
                <div class="pokemon__box" id="pokemon__box-id">
                    <div class="pokemon__tittle__box">
                        <h1 class="Pokemon__tittle">Pokemons más usados</h1>
                    </div>
                    <% teamsWithPokemons.forEach(teamWithPokemons=> { %>
                        <div class="team">
                            <% teamWithPokemons.pokemons.forEach((pokemon, index)=> { %>
                                <% if (pokemon) { %>
                                    <% const battle=teamWithPokemons.battleData.find(b=> b.pokemonName ===
                                        pokemon.name); %>
                                        <% if (battle && battle.roundsUsed> 0) { %>
                                            <div class="pokemon">
                                                <div class="pokemon__slot">

                                                    <div class="slot__img__box">
                                                        <img class="slot__img"
                                                            src="<%= pokemon ? pokemon.sprite : 'img/default.png' %>"
                                                            alt="">
                                                        <h1 class="pokemon__slot__name">
                                                            <%= pokemon.name %>
                                                        </h1>
                                                    </div>
                                                    <div class="pokemon__stats">
                                                        <div class="pokemon__stats__defeat">
                                                            <p class="stats__text">Derrotado por: <%= battle.defeatedBy
                                                                    ? battle.defeatedBy.join(', ') : ' Ninguno' %>
                                                            </p>
                                                        </div>
                                                        <div class="pokemon__stats__win">
                                                            <p class="stats__text">Vencido a: <br>
                                                                <%= battle.defeatedPokemon ?
                                                                    battle.defeatedPokemon.join(', ') : ' Ninguno' %>
                                                            </p>
                                                        </div>
                                                        <div class="pokemon__stats__times">
                                                            <p class="stats__text">Veces usado:</p>
                                                            <p class="times__used">
                                                                <%= battle.roundsUsed %>
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                            <% } %>
                                                <%}%>

                                                    <% }) %>
                        </div>
                        <% }) %>
                </div>
            </div>







            <!--Equipos mas usados-->
            <div class="team__box-outer">
                <!-- Equipos más usados -->
                <div class="team__box" id="team__box-id">
                    <div class="team__tittle__box">
                        <h1 class="team__tittle">Equipos más usados</h1>
                    </div>

                    <% if (teamsWithPokemons && teamsWithPokemons.length> 0) { %>
                        <% teamsWithPokemons.forEach(({ team, pokemons })=> { %>
                            <div class="team__display">
                                <!-- Desestructuración de objetos -->
                                <div class="team__name__box">
                                    <h1 class="team__name">
                                        <%= team.teamName %>
                                            <!-- Acceso directo a teamName gracias a la desestructuración -->
                                    </h1>
                                </div>

                                <div class="team__slots__box">
                                    <% pokemons.forEach((pokemon, index)=> { %>
                                        <!-- Iteración sobre los Pokémon del equipo -->
                                        <div class="team__slot">
                                            <p class="slot__name">
                                                <%= pokemon ? pokemon.name : "Desconocido" %>
                                            </p>
                                            <img class="slot__img"
                                                src="<%= pokemon ? pokemon.sprite : 'img/default.png' %>"
                                                alt="<%= pokemon ? pokemon.name : 'Desconocido' %>">
                                        </div>
                                        <% }); %>
                                </div>
                            </div>
                            <% }); %>
                                <% } else { %>
                                    <p>No se encontraron equipos.</p>
                                    <% } %>
                </div>
            </div>


        </div>


        <div class="profile__box">
            <form action="/changeImg" method="post" enctype="multipart/form-data">
                <div class="profile__img__box">
                    <% if (user.userImg) { %>
                        <img class="profile__img" src="<%= user.userImg %>" alt="<%= user.userImg %>" id="userImg">
                        <% } else { %>
                            <p>No profile image available.</p>
                            <% } %>
                                <input type="file" accept="image/jpeg, image/jpg, image/png" id="input-file"
                                    name="input-file" />
                </div>
                <div class="profile_username_box">
                    <h1 class="profile_username">
                        <%=user.nameUser%>
                    </h1>
                </div>

                <div class="profile__stats">
                    <div class="profile__stats__battle">
                        <div class="stats__tittle__box">
                            <h1 class="stats__tittle">Promedio</h1>
                        </div>
                        <div class="stats__wins">
                            <p class="stats_text">Victorias:</p>
                            <p class="stats__wins__porcent">100%</p>
                        </div>
                        <div class="stats__defeats">
                            <p class="stats_text">Derrotas:</p>
                            <p class="stats__defeats__porcent">0%</p>
                        </div>
                    </div>
                    <div class="profile__stats__time">
                        <div class="stats__time__box">
                            <select class="time__button" name="time" id="time">
                                <option value="week">Última semana</option>
                                <option value="month">Último mes</option>
                                <option value="six_month">Últimos seis meses</option>
                                <option value="year">Último año</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="profile__options">
                    <a href="history-matches" class="profile__options__link">Historial de partidas</a>
                    <a href="change-password" class="profile__options__link">Cambiar contraseña</a>
                    <label class="profile__options__link" for="input-file">Cambiar foto de perfil</label>
                    <input type="submit" class="bottom__btn" value="Guardar imagen" id="image-submit">
                    <a href="login" class="profile__options__link close-sess">Cerrar sesión</a>
                </div>
            </form>

        </div>

    </main>
    <script src="js/user-changeImg.js"></script>
</body>

</html>